:root {
    --rojo: #e50914;
    --Fondo: #141414;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: var(--Fondo);
    font-family: 'Open Sans', sans-serif;
}

.Contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 15px 0;
}

header .Contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nom_Logo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 40px;
}

.Logo {
    width: 50px;
    position: relative;
}

header nav a {
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.Activo {
    color: rgb(255, 255, 255);
}

.fondo_p {
    width: 100%;
    height: 100vh;
    background: url(../Imagenes_BM/Cheeselover.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo_p h1 {
    font-size: 60px;
    color: #fff;
}

.seccion_f {
    max-width: 1100px;
    width: 90%;
    overflow: hidden;
    margin: auto;
    color: #fff;
    padding: 20px 0px;
}

.titulos {
    font-size: 35px;
    text-align: center;
    padding: 60px 0px;
}

.parrafos {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}


/*Mensaje*/

#footer {
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
}

#footer ul {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#footer ul li {
    display: inline-block;
    border-right: 2px solid #fff;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(255, 255, 255);
    padding-right: 1.5em;
    margin-right: 1.5em;
}

#footer ul li a {
    color: #fff;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

#footer p {
    color: #fff;
    margin: 0;
    margin-top: 0 px;
    margin-right: 0 px;
    margin-bottom: 0 px;
    margin-left: 0 px;
}


/*Media Queries*/

@media screen and (max-width: 800px) {
    header .Logo {
        margin-bottom: 10px;
        font-size: 30px;
    }
    header .Contenedor {
        flex-direction: column;
        text-align: center;
    }
    .NovedadesFondo {
        font-size: 14px;
        max-width: 100%;
    }
}